:root {
    --cor-primaria: #F4F6F9;
    --cor-secundaria: black;
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--cor-primaria);
    font-family: "Montserrat";
    font-weight: 350;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 480px) {

    #top {
        width: 27em;
        margin: 1em auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #foto-perfil {
        width: 9em;
        height: 9em;
        border-radius: 1em;
        background-color: var(--cor-secundaria);
        box-shadow: 8px 8px 20px black;     
    }

    #logo-escola {
        width: 9em;
        height: 9em;
        border-radius: 1em;
    }

    #dados {
        width: 27em;
        height: 9em;
        border-radius: 1em;
        background-color: var(--cor-secundaria);
        margin: 1em auto;
        padding: 1em;
        box-shadow: 8px 8px 20px black; 
    }

    .campo-de-dados {
        color: var(--cor-primaria);
        font-size: 1.5em;
    }

    #menu-de-seleção {
        width: 27em;
        height: 5em;
        border-radius: 1em;
        box-shadow: 8px 8px 20px black;
        bottom: 20px;
        left: 0.8em;
        position: fixed;
        margin: auto;
        background-color: var(--cor-secundaria);
    }
}
  