:root {
    --cor-primaria: #f4f6f9;
    --cor-secundaria: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background-color: var(--cor-primaria);
    color: #ff0000;
}

#logo-titulo {
    display: flex;
    gap: 20px;
}

#logo-titulo h2 {
    margin-top: 7px;
}

/* Menu Lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #919398;
    padding: 20px;
    position: fixed;
    border-radius: 0 20px 20px 0;
    box-shadow: 5px 0px 20px rgb(72, 72, 74);
}

.sidebar h2 {
    color: var(--cor-primaria);
    margin-bottom: 30px;
    text-align: center;
}

.sidebar a {
    display: block;
    color: var(--cor-secundaria);
    padding: 12px 15px;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 60px;
    
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.sidebar a:hover, 
.sidebar a.active {
    border: 1px solid;
    color: var(--cor-primaria);
}

.sidebar a:hover {
    transform: translateX(5px);
}

.sidebar a.active {
    transform: translateX(0);
}

.sidebar .logout-btn {
    margin-top: 24rem;
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
    text-align: center;
}

.menu-inicio {
    margin-left: 250px;
    padding: 40px;
    width: calc(100% - 250px);
}

header {
    margin-bottom: 30px;
}

header h1 {
    color: #2c3e50;
}

header p {
    color: #7f8c8d;
    font-size: 0.9rem;
}

.logo {
    width: 50px;
    height: 50px;
}