:root {
    --cor-primaria: #e4e4e4;
    --cor-secundaria: #919398;
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--cor-primaria);
    font-family: "Montserrat";
    font-weight: 350;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 768px){

    #top {
        width: 95%;
        margin: 1em 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #foto-perfil {
        width: 9em;
        height: 9em;
        border-radius: 1em;
        background-color: var(--cor-secundaria);
        box-shadow: 8px 8px 20px rgb(72,72,74); 
    }

    #logo-escola {
        width: 9em;
        height: 9em;
        border-radius: 1em;
    }

    #dados {
        width: 95%;
        border-radius: 1em;
        background-color: var(--cor-secundaria);
        margin: 1em 2.5%;
        padding: 1em;
        box-shadow: 8px 8px 20px rgb(72,72,74);
    }

    .campo-de-dados {
        color: var(--cor-primaria);
        font-size: 1.5em;
        display: flex;
    }

    #menu-de-seleção {
        width: 100%;
        height: 12%;
        bottom: 0px;
        position: fixed;
        border-radius: 5px 5px 0 0;
        box-shadow: 0px -8px 15px rgb(72,72,74);
        background-color: var(--cor-secundaria);
        display: flex;
        justify-content: space-around;

        /*Temporário*/
        text-align: center;
        color: white;
    }
}
  