:root {
    --cor-primaria:  #3e4042;
    --cor-secundaria:#191d24;
    --cor-destaque: #ffffff;
    --cor-hover: rgba(255, 255, 255, 0.15);
    --sombra: 0 10px 30px rgba(0, 0, 0, 0.15);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--cor-destaque);
    font-family: "Montserrat";
    font-weight: 350;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 768px){

    #top {
        width: 95%;
        margin: 1em 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #foto-perfil {
        width: 9em;
        height: 9em;
        border-radius: 1em;
        background-color: var(--cor-primaria);
        box-shadow: var(--sombra); 
    }

    #logo-escola {
        width: 9em;
        height: 9em;
        border-radius: 1em;
    }

    #dados {
        width: 95%;
        border-radius: 1em;
        background-color: var(--cor-primaria);
        margin: 1em 2.5%;
        padding: 1em;
        box-shadow: var(--sombra);
    }

    .campo-de-dados {
        color: var(--cor-destaque);
        font-size: 1.5em;
        display: flex;
    }

    #menu-de-seleção {
        width: 100%;
        height: 12%;
        bottom: 0px;
        position: fixed;
        border-radius: 5px 5px 0 0;
        box-shadow: var(--sombra);
        background-color: var(--cor-primaria);
        display: flex;
        justify-content: space-around;

        /*Temporário*/
        text-align: center;
        color: white;
    }
}
  